@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Mulish', sans-serif;
    width: 80%;
    display: block;
    margin: auto;
    padding: 3em;
}

h1, p {
    font-weight: 400;
}

/*
button {
    font-family: 'Mulish', sans-serif;
    color: white;
    font-size: 1.2rem;
}
*/

button, span {
    font-weight: 700;
}

h2 {
    font-weight: 900;
    font-size: 2.5em;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h1, h2 {
    color: #0a2ff1;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 0.5rem 1.5rem;
    font-size: 1.1rem;
    margin-top: 1rem;
}

.botonEnlace {
    width: 30%;
    height: 6vh;
    background-color: #0a2ff1;
    
}

/*
.botoncito {
    width: 30%;
    height: 6vh;
    border: none;
    background-color: #0a2ff1;
    margin-top: 1em;
}
*/

p {
    color: #04146c;
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 1.3rem;
}

h1 {
    font-size: 1.5em;
}


